*.log
final-project/docs/User_Manual/
*-*.txt
final-project/src/styles.css
final-project/docs/Software_Requirement_Specification/SRS_v*.docx
final-project/docs/Software_Design_Document/SDD_v*.docx
**/README.md
!/README.md

